<% if @restaurants.any? %>
  <% @restaurants.each do |restaurants| %>
    <h2><%= restaurants.name %></h2>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<a href="#">Add a restaurants</a>
