<!DOCTYPE html>
<html>
  <head>
    <title>YelpClone</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    'No restaurants yet'
    <a href='www.google.co.uk'>Add a restaurant</a>
    <%= yield %>

  </body>

